@import "../../styles/colors";
@import "../../styles/mixins";

header {
	@include boxShadow();
	background-color: white;
	// color: $text-color-light;
	color: $primary;
	cursor: default;
	.container {
		@include flex(space-between);
	}
}
