html {
  border: 0.5rem red;
}

body {
  border: 0.5rem solid blue;
}
#root {
  border: 0.5rem solid yellow;
}
header {
  border: 0.5rem solid red;
}

main {
  border: 0.5rem solid purple;
}

footer {
  border: 0.5rem solid fuchsia;
}
