@import "../styles/mixins";
@import "../styles/colors";

@import "../../../node_modules/bootstrap/scss/bootstrap";

$font: "Quicksand", sans-serif;
$font-size: 100%;

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $font;
  font-size: $font-size;
  color: $text-color-dark;
  // overflow: hidden;
}

#root {
  overflow: auto;
  @include flex(flex-start, stretch, column);
}

main {
  flex: 1;
  overflow-y: visible;

  & > div {
    height: 100%;
    overflow-x: auto;
  }
}

header {
  z-index: 999;
}
footer {
  margin-top: auto;
  flex-shrink: 0;
}

i {
  &.icon {
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.relative {
  position: relative;
}

.btn.no-glow {
  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}
