@import '../styles/mixins';
@import '../styles/colors';

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';

.card {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  @include media-breakpoint-up(lg) {
    @include boxShadowShallow();
  }
}
