@import '../styles/mixins';
@import '../styles/colors';

$color: rgba($primary, 0.5);
$width: 1px;

.tab-container {
  @include flex(flex-start, stretch);
  cursor: pointer;

  .tab {
    border-bottom: $width solid $color;
    @include flex();
    min-width: 5rem;
    padding: 0.5rem 1.5rem;

    &.active {
      border: $width solid $color;
      border-bottom-width: 0;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  .last {
    flex: 1;
    border-bottom: $width solid $color;
  }
}
