@import '../styles/mixins';
@import '../styles/colors';

$color: rgba($primary, 0.5);
$color: $primary;
// $color: rgba($secondary, 0.4);
$width: 1px;

.tab-container {
  @include flex(flex-start, stretch);
  & > button {
    @include flex();
    color: $color;
    background-color: white;
    border: none;
    border-bottom: $width solid $color;
    min-width: 7rem;
    padding: 0.5rem;
    font-size: 90%;

    &.active {
      border: $width solid $color;
      border-bottom-width: 0;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  & > div {
    border-bottom: $width solid $color;
    @include flex(flex-end, stretch);
    &:last-child {
      flex: 1;
    }
  }
}
