[Unit]
Description=Dynamic DNS                      
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/npm start --prefix /home/callum/song-list
Restart=always
KillSignal=SIGINT
User=callum

[Install]
WantedBy=multi-user.target