@import "../../styles/mixins";
@import "../../styles/colors";
.service-form {
  @include flex(flex-start, space-between, column);
  min-height: 60vh;
  position: relative;
  .search {
    position: relative;
    flex: 1;
  }
  h4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .list {
    margin: 0;
    padding: 0;
    li {
      @include flex(space-between);
      background-color: rgba($primary, 0.05);
      &:nth-child(even) {
        background-color: rgba($primary, 0.08);
      }
      padding: 0.5rem;
    }
  }
}
