@import "../../styles/mixins";
@import "../../styles/colors";

.song-selector {
  @include boxShadow();
  @include flex();
  z-index: 10;
  background: white;
  position: absolute;
  width: 100%;
  min-height: 3.5rem;
  display: none;

  &.open {
    display: block;
  }

  .song-selector-container {
    cursor: default;
    div {
      cursor: pointer;
      &:hover {
        background-color: rgba($info, 0.3);
      }
      @include flex(space-between, auto);
      padding: 0.5rem;
    }
  }
}
