@import '../../styles/mixins';
@import '../../styles/colors';

.circle-menu {
  width: 50px;
  height: 50px;
  border: none;
  font-size: inherit;
  border-radius: 50%;
  @include boxShadowShallow();
  cursor: pointer;
  padding: 14px 10px;
  position: fixed;
  z-index: 9999;
  background: white;

  div {
    background-color: $gray-600;
    &:not(:first-child) {
      margin: 5px 0 5px 0;
    }
    border-radius: 2px;
    height: 4px;
    width: 100%;
    transition: 200ms;
  }

  &.open {
    .bar1 {
      transform: translate(0, 9px) rotate(45deg);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: translate(0, -9px) rotate(-45deg);
    }
  }
}
