@import '../../styles/colors';
@import '../../styles/mixins';

@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';

nav {
  .navbar-brand {
    height: 4rem;
    width: auto;
  }

  .links-slider-backdrop {
    $transition: 150ms;
    &.open {
      opacity: 1;
      visibility: visible;
    }
    @include flex(flex-end, auto);
    background-color: rgba(black, 0.1);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition ease-in-out, visibility $transition;

    .links-slider {
      &.open {
        width: 60%;
      }
      @include boxShadow();
      @include flex(center, flex-end, column);
      background-color: $body-bg;
      width: 0%;
      transition: width $transition ease-in-out;
      i {
        margin: 0.4rem !important;
        @include flex();
        cursor: pointer;
        &:hover {
          color: rgba($primary, 0.4);
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
          padding: 1rem 0.5rem;
          text-align: center;
          cursor: pointer;
          &:not(:first-child) {
            border-top: 1px solid rgba($primary, 0.3);
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    @include flex();
    @include boxShadow();
    flex: 1;
    .links-slider-backdrop {
      position: static;
      background-color: inherit;
      visibility: visible;
      opacity: 1;
      height: auto;
      width: auto;

      .links-slider {
        width: auto;
        box-shadow: none;
        background-color: none;

        ul {
          @include flex(flex-end);
          li:first-child ~ li {
            margin-left: 1rem;
          }
          li {
            &:not(:first-child) {
              border-top: none;
            }
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
