@import "../../styles/mixins";
@import "../../styles/colors";

@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.metrics-controls {
  & > div > * {
    padding-bottom: 0.5rem;
  }

  @include media-breakpoint-up(md) {
    & > div > * {
      padding-bottom: 0rem;
    }
    padding: 1rem 0;

    & > div {
      @include flex(space-between, center);
    }
  }

  &.stuck {
    @include boxShadow();
    background-color: rgba(white, 0.8);
    padding-top: 0.5rem;
    @include media-breakpoint-up(md) {
      padding: 1rem;
    }
  }
}
