.tag {
	/* padding: 0.5rem; */
	border: 1px solid rgba(100, 100, 100, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
}

.tag input,
.tag *:first-child:not(input) {
	padding: 0.5rem;
}

.tag input {
	border: none;
}

.tag input:focus {
	outline: none;
}

.tag ~ .tag {
	border-top: 0;
}

.tag:hover,
.tag:hover input:focus {
	border-left: 0.3rem solid rgba(100, 100, 200, 0.8);
	cursor: pointer;
}
.tag:hover > i {
	color: rgba(100, 100, 200, 0.8);
	font-size: 120%;
}
