@import "../../styles/colors";
@import "../../styles/mixins";

@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints";

.songs-controls {
  &.stuck {
    @include boxShadow();
    background-color: rgba(white, 0.8);
    padding: 0.4rem 0;
  }
  & > div {
    @include flex(auto, auto, column);

    & > *:not(:first-child) {
      margin-top: 0.4rem;
    }

    @include media-breakpoint-up(md) {
      @include flex(space-between, center, row);
      & > * {
        margin-top: 0 !important;
      }
    }
  }
}
