@import "../../styles/colors";
@import "../../styles/mixins";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.hamburger {
	height: 1.4rem;
	width: 2rem;
	@include flex(space-between, auto, column);
	cursor: pointer;
	div {
		border: 2px solid rgba($primary, 0.7);
		border-radius: 0.3rem;
	}

	@include media-breakpoint-up(sm) {
		display: none;
	}
}
