@import "../../styles/colors";
@import "../../styles/mixins";

.header {
  @include boxShadow();
  background-color: white;
  flex: 1;
  color: $primary;
  cursor: default;
  .container {
    @include flex(space-between);
  }
}
