@import "../../styles/mixins";
@import "../../styles/colors";
.services-table {
  font-size: 85%;
  cursor: default;
  tr,
  td,
  th {
    flex: 1;
  }
  tr {
    @include flex(space-between, stretch);
    td,
    th {
      @include flex(flex-start);
    }
  }
}
