@import '../../styles/colors';
@import '../../styles/mixins';

.header {
  @include boxShadow();
  @include flex(space-between, flex-end);
  background-color: white;
  color: $primary;
  cursor: default;
  padding: 0.5rem 0;
  flex: 1;
}
