@import '../../styles/colors';
@import '../../styles/mixins';

.header {
  @include boxShadow();
  background-color: white;
  color: $primary;
  cursor: default;
  padding: 0.3rem 0;
  flex: 1;
  @include flex(space-between);
}
